<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background-image:url(/static/images/an.png);

        }
        a{
        font-size:32px;
        font-weight:bold;
        }
        .prak{
        margin-left:350px;
        }

    </style>
</head>
<body>

<form method="post" class="prak">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="submit"><br><br><br>
    <a href="{% url 'data'%}">See All Reviews</a>
</form>

</body>
{% endblock %}
</html>